<!--
  Generated template for the AllChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content >

  <ion-fab>
    <button ion-fab style="color:0c9fcb">
	<ion-icon>
    <img src="./assets/images/svg/001-add.svg" style="width:20px; height:20px;">
	</ion-icon>

	</button>
    <ion-fab-list side="top">
      <button ion-fab (click)="newBroadcast()"><img src="./assets/images/svg/002-broadcast-communications-tower.svg"  style="width:18px;height:18px"/><ion-label (click)="newBroadcast()">{{'new-broadcast' | translate}}</ion-label></button>
      <button ion-fab (click)="newMessage()"><img src="./assets/images/svg/email-new-envelope-closed-back-hand-drawn-outline.svg"  style="width:18px;height:18px"/><ion-label (click)="newMessage()">{{'new-message' | translate}}</ion-label></button>

    </ion-fab-list>
  </ion-fab>

  <!--====================Start Page Wrapper=======================-->
  <main class="page">
    <div class="bg_color">
      <div class="contacts">
        <div  class="container">

          <ion-refresher (ionRefresh)="doRefresh($event);">
            <ion-refresher-content refreshingSpinner="circles">
            </ion-refresher-content>
          </ion-refresher>
          <div class="contact_item online" *ngFor="let p of chats;let i=index">
          
            <!-- //Contact Item -->
            <div *ngIf="p.group_name == null" style="position:relative;">
              <div (click)="openChat(i,p.type,p.cid,p.title,p.avatar,p.is_blocked, p.user1,  p.user2)">
                <div class="contact_img">
                  <img src="./assets/images/group.png" style="border-radius:50%" *ngIf="p.type == 'multiple' " alt="Arab Call" title="Arab Call">

                  <img [src]="p.avatar" style="border-radius:50%" *ngIf="p.is_blocked == false" alt="Arab Call" title="Arab Call">
                  <img src="./assets/images/blocked.png" *ngIf="p.is_blocked == true && p.type == 'single'" style="border-radius:50%" alt="Arab Call" title="Arab Call">
                </div>
                <div class="contact_info">
                  <h3>{{p.title}}</h3>
                  <p>{{p.message}}</p>

                </div>
              </div>
            </div>
            <!-- //Contact Item -->
            <div *ngIf=" p.group_name != null" style="position:relative;">
              <div (click)="openChat(i,p.type,p.cid,p.title,p.avatar,p.is_blocked, p.user1,  p.user2)">
                <div class="contact_img">
                  <img src="./assets/images/group.png" style="border-radius:50%" *ngIf="p.type == 'multiple' " alt="Arab Call" title="Arab Call">

                  <img [src]="p.avatar" style="border-radius:50%" *ngIf="p.is_blocked == false" alt="Arab Call" title="Arab Call">
                  <img src="./assets/images/blocked.png" *ngIf="p.is_blocked == true && p.type == 'single'" style="border-radius:50%" alt="Arab Call" title="Arab Call">
                </div>
                <div class="contact_info">
                  <h3>{{p.group_name}}</h3>
                  <p>{{p.message}}</p>

                </div>
              </div>
            </div>
            <!-- //Contact Item -->
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
