<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'info' | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

<div class="d-flex" style="justify-content:center;margin-top: 100px;">
  <img src="./assets/images/aracall.png" width="150" height="150" alt="">
</div>
<div class="d-flex d-flex-justify d-info">
  <a href="https://www.instagram.com"><img src="./assets/images/svg/instagram.svg"></a>
  <a href="https://www.twitter.com"><img src="./assets/images/svg/twitter.svg"></a>
  <a href="https://www.facebook.com"><img src="./assets/images/svg/facebook.svg"></a>
</div>
<div class="d-flex" style="padding:25px;text-align:center">
  <p>  
  Arabface is a social platform and a mobile App. that connects people everywhere throughout the world and provides a comfortable and efficient way of communications.

    We provide people the ability to build friendships, groups and communities and bring the world closer together.
    Arabface is built to be the fastest, most reliable, up-to-date and most pleasant platform for communication and networking around the world.
    
    Getting together with your family, friends and other people across the globe makes powerful things happen, ideas spread, heard and become tangible. 

    Arabface gives not only the most advanced tools for communications and networking, it also creates and enhances business opportunities for every subscriber. We connect the people to make them more productive and successful.
</p>
  </div>
</ion-content>
