<ion-header>

  <ion-navbar>
    <ion-title>{{'video-call' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <video class="self-video" #selfVideo autoplay muted></video> -->

  <section class="bg_grey ">
    <div id="video-call" class="video-call">
      <div id="video-user" class="video-user"></div>
      <p class="video-timer"></p>
    </div>
    <!-- <ul id="Videos" class="group-call-wrap">

    </ul> -->

    <!-- <div class="video-call">
      <div class="video-user"><video style="    width: 100%; height: 100%" class="self-video" #selfVideo autoplay></video>

        <video class="local-video" #localVideo autoplay [hidden]="hidevideo"></video>
      </div>
      <div style="height:100px;">
        <img [hidden]="hideavatar" style="width: 17%;;left:157px;border-radius: 50%;position:relative;top:165px" [src]="remoteavatar">
        <p [hidden]="hideavatar" style="position:relative;">{{remotename}}</p>
        <p style="text-align:center;color:black;" [hidden]="hidetext">{{text}}</p>

        <p class="video-timer" id="video-timer" [hidden]='timer'></p>
      </div>
    </div> -->

    <ul class="group-call-btn">
      <li (click)="accept()" [hidden]="hideaccept">
        <a href="#"><img style="bottom:0px" src="./assets/images/svg/phone-receiver.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>Accept</span>
      </li>
      <li [hidden]="hidedeny" (click)="deny()">
        <a href="#"><img style="bottom:0px" src="./assets/images/svg/end-call-button.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>Deny</span>
      </li>
      <li [hidden]="mutehideend" (click)="muteCall()">
        <a href="#"><img src="./assets/images/svg/mic-icon.svg" style="width:20px;height:20px;margin-top:15px" /></a>
        <span>{{'mute' | translate}}</span>
      </li>
      <li [hidden]="unmute" (click)="unmuteCall()">
        <a href="#"><img src="./assets/images/svg/microphone-with-slash-interface-symbol-for-mute-audio.svg" style="width:20px;height:20px;margin-top:15px" /></a>
        <span>{{'unmute' | translate}}</span>
      </li>
      <li (click)="end()" [hidden]="hideend">
        <a href="#"><img src="./assets/images/svg/end-call-button.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>End</span>
      </li>
      <!-- <li [hidden]="speaker">
        <a href="#"><img src="./assets/images/svg/speaker.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>Speaker</span>
      </li> -->
    </ul>
  </section>

</ion-content>
