<!--
  Generated template for the Videohandler2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>videohandler2</ion-title>
  </ion-navbar>

</ion-header>-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'voice-call' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page voice-call">

  <!--<ion-icon name="md-arrow-back" (click)="goback()"></ion-icon>-->
  <section class="bg_grey" style="min-height:130vh">
    <div id="audios"></div>
    <div></div>
    <video class="self-video" #selfVideo [hidden]="hidevideo" autoplay muted></video>
    <video class="local-video" #localVideo autoplay [muted]="mute" [hidden]="hidevideo"></video>
    <div class="friend-cover flex-v-center">
      <img style="margin-top: 95px;" [hidden]="hideavatar" [src]="remoteavatar" alt="">
      <h3 [hidden]="hideavatar">{{remotename}}</h3>
      <p class="video-timer" style="left:0; right:0; margin-top: 50px;" id="video-timer" [hidden]='timer'></p>
      <p style="text-align:center;color:black;margin:0;" [hidden]="hidetext">{{text}}</p>
    </div>
    <ul class="group-call-btn">
      <li (click)="unmuteCall()" id='mute' [hidden]="unmute">
        <a href="#"><img src="./assets/images/svg/microphone-with-slash-interface-symbol-for-mute-audio.svg" style="width:20px;height:20px;margin-top:15px" /></a>
        <span>{{'unmute' | translate}}</span>
      </li>
      <li (click)="muteCall()" id='mute' [hidden]="mutehideend">
        <a href="#"><img src="./assets/images/svg/mic-icon.svg" style="width:20px;height:20px;margin-top:15px" /></a>
        <span>{{'mute' | translate}}</span>
      </li>
      <li (click)="accept()" [hidden]="hideaccept">
        <a href="#"><img src="./assets/images/svg/phone-receiver.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>{{'accept' | translate}}</span>
      </li>
      <li (click)="end()" [hidden]="hideend">
        <a href="#"><img src="./assets/images/svg/end-call-button.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>{{'end' | translate}}</span>
      </li>
      <li (click)="deny()" [hidden]="hidedeny">
        <a href="#"><img src="./assets/images/svg/end-call-button.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>{{'deny' | translate}}</span>
      </li>
      <li [hidden]="speaker">
        <a href="#"><img src="./assets/images/svg/speaker.svg" style="width:25px;height:25px;margin-top:15px" /></a>
        <span>{{'speaker' | translate}}</span>
      </li>
    </ul>
  </section>

</ion-content>
