<!--
  Generated template for the BlockedUsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'blocked-members' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <section class="bg_white full_vh ">
    <div class="container">
      <form class="users-list">
        <div class="user-item" *ngFor="let user of blocked; let i = index;">
          <div class="pull-left">
            <div class="user-img">
              <a href="#"><img src="{{ user.avatar }}" alt=""></a>
            </div>
            <div class="user-info pull-left">
              <h3 class="mt-15"><a href="#">{{ user.name }}</a></h3>
            </div>
          </div>
          <div class="pull-right pt-15">
            <a (click)="unblockUser(user.id, i)" href="#" class="btn btn-default btn-sm">{{'unblock' | translate}}</a>
          </div>
          <div class="clearfix"></div>  
        </div>
        <!-- //user-item -->
      </form>
    </div>
  </section>
</ion-content>
